.home-page {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  max-width: 1280px;
  margin: 0 auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-page__title {
    width: 90%;
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 84px;
  }

  .home-page__logo {
    max-width: 400px;
    width: 90%;
    height: auto;
  }

  .home-page__card {
    padding: 3em;
  }

  .home-page__link {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}
