:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0085c7;
  text-decoration: inherit;
  transition: 0.5s;
}

a:hover {
  color: #31b3f5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-league-gothic {
  font-family: "League Gothic", sans-serif;
}

.font-preahvihear {
  font-family: "Preahvihear", sans-serif;
}

.font-baloo {
  font-family: "Baloo Paaji 2", sans-serif;
}
